{% load static %}

<section class="certificacion-split" id="certificacion">
  <div class="texto">
    <h3>Certificada en Personal Trainer y Health Coach</h3>
    <p><strong>Número de Matrícula AR-1445/25</strong></p>
    <p>
      Actualmente curso la <strong>carrera de Nutrición en UADE</strong>, sumando herramientas académicas 
      para ofrecerte un enfoque más completo.
    </p>
    <p>
      En DVOLVE vas a encontrar planes de entrenamiento y nutrición pensados para tu estilo de vida, 
      con rutinas prácticas, motivación constante y el equilibrio que necesitás para evolucionar hacia tu mejor versión. 
      Mi misión es acompañarte a que logres tus objetivos de entrenamiento y bienestar de una forma real y sostenible.
    </p>
  </div>
  <div class="imagen">
    <img src="{% static 'principal/img/cartas/LulaAbajo.jpeg' %}" alt="Personal Trainer" style="max-width:100%; height:auto;">
  </div>
</section>
