<footer class="footer">
  <p>© 2025 DVOLVE | Desarrollado por Martina Colombo 
    <a href="https://www.linkedin.com/in/martina-colombo-332560309/" target="_blank">LinkedIn</a>
  </p>
  <div class="footer-links">
    <p class="footer-colab">
      Con la colaboración de <strong>Aritz Blesa</strong> 
      <a href="https://www.linkedin.com/in/aritz-blesa-384561309/" target="_blank"><strong>LinkedIn</strong></a>
    </p> 
    <a href="{% url 'principal:privacidad' %}">Política de Privacidad</a>
  </div>
</footer>
