{% extends 'principal/base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block content %}
  <!-- Sección portada -->
  <section class="imagen-portada">
    <div class="imagen-portada-fondo"></div>
    <img src="{% static 'principal/img/cartas/fotoLula_footer.jpg' %}" 
         alt="Imagen portada" 
         class="imagen-portada-frente">
    <div class="plan-btn">
      <a href="{% url 'principal:pagos' %}" class="btn-plan">Quiero mi plan</a>
    </div>
  </section>

  {% include 'principal/sobre.html' %}
  {% include 'principal/servicios.html' %}
  {% include 'principal/certificacion.html' %}
{% endblock %}
