
{% load static %}

<section class="about-section" id="sobre Dvolve">
  <div class="container my-5">
    <div class="blur-background">
      <div class="row align-items-center">

        <div class="col-md-6 text-content">
          <h2><span class="highlight">Entrená</span> con DVOLVE</h2>
          <p>
            Planes personalizados de entrenamiento y nutrición diseñados para que 
            alcances tus objetivos de forma eficiente. Evolucioná con rutinas prácticas, 
            motivación constante y equilibrio en tu día a día.
          </p>
        </div>

        <div class="col-md-6">
          <div class="video-container">
            <video controls style="max-width:100%; height:auto;">
              <source src="{{ MEDIA_URL }}videos/ejemplo1.mp4" type="video/mp4">
              Tu navegador no soporta el video.
            </video>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
