body {
  font-family: Arial, sans-serif;
  background-color: #fcf4ea;
  margin: 0;
  padding: 0;
  color: #333;
}
.promo-banner {
  background: linear-gradient(90deg,  #8a199e, #ee46a8);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
 
}

.promo-title {
  font-size: 1.6rem;
  display: block;
}

.promo-text {
  font-size: 1rem;
  opacity: 0.9;
}

.pagos-header {
  text-align: center;
  padding: 40px 20px;
  color: rgb(12, 12, 12);
}
.pagos-header h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin: 1rem 0 2rem;
  color: #333;
  position: relative;
}

.pagos-header h1::after {
  content: "";
  width: 10%;
  height: 4px;
  background: #d63384;
  display: block;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.flecha {
  display: inline-block;
  margin-right: 10px;
  justify-content: left;
   position: absolute;
  top: 20px;
  left: 20px;
  font-size: 22px;
  text-decoration: none;
 font-weight: bold;
}

.pricing-card {
  background: #fff;
  border: 2px solid #d9c7a6;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pricing-card h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.pricing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #7e2864;
  margin: 15px 0;
}

.btn-plan {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 50px;
  background: linear-gradient(45deg, #c875ac, #7e2864);
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.btn-plan:hover {
  transform: scale(1.05);
}

.popular {
  border: 3px solid #c875ac;
  background: #fff0f7;
  position: relative;
  transform: scale(1.05);
}

.badge-popular {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #7e2864;
  color: #fff;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 20px;
}
